@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.main {
    background-color: #ffffff;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main-header {
    position: relative;
    pointer-events:none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("./covers3.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    z-index: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.inner{
    position: relative;
    flex-direction: column;
    display : flex;
    flex: 1;
    align-items: left;
    margin-top: 45vh;
    margin-left: -67vw;
    pointer-events:none;
    text-align: left;
}

.inner>text{
    font-size: 0%,
}


.text{
    position: relative;
    font-size: 3vw;
    text-align: left;
    align-self: flex-start;
    
    font-family: 'Outfit', sans-serif;
}

.text_container{
    text-align: left;
    align-self: flex-start;
    align-items: left;
    margin-bottom: 10%;
    
}