@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


@font-face {
    font-family: 'montserrat_light_alt1light';
    src: url('../fonts/montserrat-light-alt1-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-alt1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.main {
    background-color: #ffffff;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main-header {
    position: relative;
    left: 0%;
    pointer-events:none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("./news.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    z-index: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.inner{
    position: relative;
    left: 0%;
    flex-direction: column;
    justify-content: flex-end;
    display : flex;
    flex: 1;
    align-items: left;
    height: 100%;
    width: 92%;
    pointer-events:none;
    text-align: left;
    overflow: hidden;
}

.text{
    font-size: 5vmax;
    margin-bottom: 4%;
    font-family: 'Outfit', sans-serif;
}

.text_container{
    display: flex;
    text-align: left;
    margin-bottom: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    /* margin-bottom: 2%;
    margin-top: 40%; */
    /* margin-top: 45vh; */
    
}

.green{
    color: #32fc75;
}

.header{
    position: absolute;
    font-family: 'montserrat_light_alt1light', sans-serif;
    top:  0;
    font-size: 2vmax;  /*line wasnt there before*/
    color: #32fc75;
    padding-bottom: 10%;
}

.textnbtn{
    /* margin-bottom: -22vh; */
    bottom: 0%;
    /* margin-bottom: -45%; */
}

.btn{
    /* margin-bottom: -22vh; */
    padding-top: 0%;
    padding-bottom: 4.2%;
    /* margin-bottom: -45%; */
}
