.main {
    background-color: #ffffff;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main-header {
    background-color: #040c04;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("./covers3.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    z-index: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.inner{
    position: absolute;
    margin-top: 45vh;
    margin-left: -67vw;
}
